/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

    header .logo {
        width: 100px; /* Adjust the logo size as needed */
        text-align: left;
    }

    header .contact-btn {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    header .hospital-name {
        flex: 1;
        text-align: center;
    }

/* Specific Styles for the How to Get There Page */
.main-content-how-to-get {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.directions-how-to-get {
    flex: 1;
    padding-right: 20px;
}

.map-container-how-to-get {
    flex: 1;
    min-width: 650px;
}

.directions-how-to-get h2 {
    margin-top: 0;
}

.directions-how-to-get p {
    margin-top: 10px;
}

.directions-how-to-get ul {
    list-style-type: none;
    padding: 0;
}

    .directions-how-to-get ul li {
        margin-bottom: 10px;
    }

/* Footer Styles */
footer {
    background-color: #f1f1f1;
    padding: 40px 20px; /* Increase top and bottom padding */
    text-align: center;
}

.footer-content-how-to-get {
    display: flex;
    flex-direction: column; /* Align content in column */
    justify-content: center;
    align-items: center;
    max-width: 1200px; /* Limit the maximum width of the footer */
    margin: 0 auto; /* Center the content */
}

.social-icons-how-to-get {
    display: flex;
    justify-content: center; /* Center the icons */
    align-items: center;
    margin-bottom: 20px; /* Space between icons and button */
}

.footer-icon-how-to-get {
    font-size: 40px; /* Reduce icon size */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Add some margin between icons */
}

.whatsapp {
    color: #25D366; /* WhatsApp original color */
}

.facebook {
    color: #3b5998; /* Facebook original color */
}

.instagram {
    color: #E4405F; /* Instagram original color */
}

.twitter {
    color: #1DA1F2; /* Twitter original color */
}

.back-btn-how-to-get {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}
