/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

    header .investigaciones2-logo {
        width: 100px; /* Adjust the logo size as needed */
        text-align: left;
    }

    header .investigaciones2-contact-btn {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    header .investigaciones2-hospital-name {
        flex: 1;
        text-align: center;
    }

/* Investigaciones2 Page Specific Styles */
.investigaciones2-main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

    .investigaciones2-main-content h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .investigaciones2-main-content p {
        font-size: 1.2em;
        color: #333;
    }

/* Footer Styles */
footer {
    background-color: #f1f1f1;
    padding: 40px 20px; /* Increase top and bottom padding */
    text-align: center;
}

.investigaciones2-footer-content {
    display: flex;
    flex-direction: column; /* Align content in column */
    justify-content: center;
    align-items: center;
    max-width: 1200px; /* Limit footer max width */
    margin: 0 auto; /* Center content */
}

.investigaciones2-social-icons {
    display: flex;
    justify-content: center; /* Center icons */
    align-items: center;
    margin-bottom: 20px; /* Space between icons and button */
}

.investigaciones2-footer-icon {
    font-size: 30px; /* Set the icon size */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Add some margin between icons */
}

.investigaciones2-social-icons a {
    text-decoration: none; /* Ensure no underline on links */
}

.whatsapp {
    color: #25D366; /* WhatsApp original color */
}

.facebook {
    color: #3b5998; /* Facebook original color */
}

.instagram {
    color: #E4405F; /* Instagram original color */
}

.twitter {
    color: #1DA1F2; /* Twitter original color */
}

.investigaciones2-back-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 20px;
}
