/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

    header .logo {
        width: 100px;
        text-align: left;
    }

    header .contacto-btn {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }

    header .nombre-hospital {
        flex: 1;
        text-align: center;
    }

/* Estilos específicos para la página de noticias */
.main-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.news-details {
    flex: 2;
    padding-right: 20px;
    box-sizing: border-box;
}

    .news-details h2 {
        margin-top: 0;
    }

    .news-details .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 20px 0;
    }

        .news-details .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    .news-details .news-photo {
        width: 100%;
        height: auto;
        margin: 5px 0;
        display: none;
    }

.news-list {
    flex: 1;
    box-sizing: border-box;
}

    .news-list h2 {
        margin-top: 0;
    }

    .news-list table {
        width: 100%;
        border-collapse: collapse;
    }

    .news-list th, .news-list td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .news-list th {
        background-color: #4CAF50;
        color: white;
    }

    .news-list tr {
        cursor: pointer;
    }

        .news-list tr:hover {
            background-color: #f1f1f1;
        }

/* Estilos del pie de página */
footer {
    background-color: #f1f1f1;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-icon {
    width: 40px;
    margin: 0 10px;
}

.volver-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}
